<!DOCTYPE html>
<html class="{{ htmlClass }} no-js">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7861796/7419192/css/fonts.css" />
    <link rel="stylesheet" href="../../css/index.css?{{ cacheBuster }}" media="all" />
    <script src="../../js/vendor/modernizr-custom.js"></script>

    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {{ patternLabHead | raw }}
    <!-- End Pattern Lab -->

  </head>
  <body class="{{ bodyClass }}" id="top">
